{% include "_header.twig" %}
          <div class="inner cover">
            <h1 class="cover-heading">{{ title }}</h1>
            <p class="lead">Upload a single .zip file and make the contents accessible online.</p>
          </div>

          <form role="form" method="POST" action="/zip-files" enctype="multipart/form-data">
            <div class="form-group">
              <label for="exampleInputFile">Choose a .zip file</label>
              <input name="file" type="file" id="exampleInputFile" accept="application/zip">
            </div>
            <div class="form-group">
              <label for="titleInput">Title (optional)</label>
              <input name="title" type="text" class="form-control" id="titleInput" placeholder="Title for the link?">
            </div>
            <div class="form-group">
              <label for="descriptionInput">Description (optional)</label>
              <textarea name="description" class="form-control" rows="3"  id="descriptionInput" placeholder="Some words about the file?"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
{% include "_footer.twig" %}

